<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入门程序</title>

</head>
<body>
<div id="app">
    <!--MVVM中view-->
    <!--{{name}}-->

    <a v-bind:href="url">
    <span v-text="name"></span>
    </a>
    <br/>
    <input type="text" v-model="num1"/>+
    <input type="text" v-model="num2"/>=
    <input type="text" v-model="result"/>
    <button v-on:click="change">计算</button>
</div>
</body>
<script src="/js/vue/vue.min.js"></script>
<script>
    //新建一个vue实例(相当于MVVM模式中vm)
    var VM = new Vue({
        el:"#app",//将上边视图部分app区域进行管理,将model数据和view进行绑定
        data:{//相当于MVVM中的model
            name:"黑马程序员",
            num1:0,
            num2:0,
            result:0,
            url:"http://www.itcast.cn"

        },
        methods:{
            change:function () {
                this.result =  Number.parseInt(this.num1)+Number.parseInt(this.num2);
            }
        }

    })

</script>
</html>